body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(150px circle at var(--cursor-x) var(--cursor-y), var(--color-accent), transparent 50%);
  filter: blur(90px);
  pointer-events: none;
  z-index: 10;
}