.scrollable-buttons {
  display: flex;
  gap: 48px;
}

.wrapper {
  display: flex;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s ease;
}

.wrapper:hover {
  border-color: var(--color-accent);
}

.wrapper .content {
  font-size: 18px;
  padding: 16px;
  transition: color 0.3s ease;
}

.wrapper:hover .content {
  color: var(--color-accent);
}

.wrapper .scroll-text {
  font-size: 18px;
  padding: 16px;
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateX(100%);
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
