.scroll-wrapper {
  background-color: var(--color-scroll);
  transform: skewY(-3deg);
  height: 62px;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  white-space: nowrap;
  display: flex;
  margin-bottom: 40px;
  backdrop-filter: blur(4px);
  z-index: 1;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 24px,
    black calc(100% - 24px),
    transparent 100%
  );
}

.scroll-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 100%;
  animation: scrollLeft 48s linear infinite;
}

.scroll-text, img {
  font-size: 2rem;
  font-family: var(--font-text);
  color: var(--color-accent);
  margin: 0 24px;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
