.scroll-wrapper {
  background-color: var(--color-scroll);
  transform: skewY(-3deg);
  height: 62px;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  white-space: nowrap;
  display: flex;
  margin-bottom: 40px;
  z-index: 100;
}

.scroll-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  min-width: 100%;
  animation: scrollLeft 48s linear infinite;
}

.scroll-text, img {
  font-size: 2rem;
  font-family: var(--font-text);
  color: var(--color-accent);
  margin: 0 1rem;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
