
section.hero {
  min-height: 100vh;
  background: linear-gradient(45deg, var(--color-bg) 40%, var(--color-bg-second) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 98px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgba(28, 28, 28, 1) 25%, rgba(28, 28, 28, 0.06) 100%);
}

.header-content {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding: 0 96px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 64px;
}

nav {
  display: flex;
  gap: 24px;
}

nav img {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--color-light);
  font-family: 'firacode';
  font-size: 1.25rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1;
  justify-content: center;
}

.title h1 {
  font-family: 'karla';
  font-size: 8rem;
}

.title h2 {
  font-family: 'firacode';
  font-size: 2.5rem;
}

.title-buttons {
  display: flex;
  padding-top: 24px;
  gap: 40px;
}

.title-buttons div {
  cursor: pointer;
  font-size: 1.125rem;
  border: 1px solid var(--color-light);
  border-radius: 100px;
  padding: 24px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: fit-content;
}

.title-buttons div span {
  display: inline-block;
  flex-shrink: 0;
}

.title-buttons div .right {
  position: absolute;
  left: 100%;
}

.title-buttons div:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
  transition: border-color 0.25s ease, color 0.25s ease;
}

.title-buttons div:hover span {
  animation: slideOut 3s linear infinite;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-125%);
  }
}


.title-buttons div:hover .left {
  transform: translateX(-125%);
}

.title-buttons div:hover .right {
  transform: translateX(0);
}