section.hero {
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    var(--color-bg) 40%,
    var(--color-bg-second) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 98px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 25%,
    rgba(28, 28, 28, 0.06) 100%
  );
}

.header-content {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding: 0 96px;
  align-items: center;
  justify-content: space-between;
}

.logo, .logo-white {
  width: 72px;
  height: 42px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.logo-wrapper {
  position: relative;
  cursor: pointer;
}

.logo-wrapper:hover .logo {
  opacity: 0;
}

nav {
  display: flex;
  gap: 24px;
}

nav img {
  cursor: pointer;
}

nav a {
  padding-top: 18px;
  text-decoration: none;
  color: var(--color-light);
  font-family: "firacode";
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--color-accent);
}

nav a img {
  height: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

nav a:hover img {
  opacity: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1;
  justify-content: center;
}

.title h1 {
  font-family: "karla";
  font-size: 8rem;
  padding-bottom: 24px;
}

.title h2 {
  font-family: "firacode";
  font-size: 2.5rem;
}

.lateral-wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.left-lateral, .right-lateral {
  position: absolute;
  bottom: 0;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-lateral {
  left: 96px;
}

.right-lateral {
  right: 46px;
}

.inlay-arrow {
  position: absolute;
  transform: translateY(15px);
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(15px)
  }
}

.left-lateral .vertical-line {
  height: 240px;
  width: 1px;
  border: 1px solid var(--color-accent);
}
 
.right-lateral .vertical-line {
  height: 186px;
  width: 1px;
  border: 1px solid white;
}

.right-lateral a {
  transform: rotate(-90deg);
  color: white;
  font-family: 'karla';
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 72px;
  transition: color 0.3s ease-in-out;
}

.right-lateral a:hover {
  color: var(--color-accent);
}