section.hero {
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    var(--color-bg) 40%,
    var(--color-bg-second) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 98px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 25%,
    rgba(28, 28, 28, 0.06) 100%
  );
}

.header-content {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding: 0 96px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 64px;
}

nav {
  display: flex;
  gap: 24px;
}

nav img {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--color-light);
  font-family: "firacode";
  font-size: 1.25rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1;
  justify-content: center;
}

.title h1 {
  font-family: "karla";
  font-size: 8rem;
}

.title h2 {
  font-family: "firacode";
  font-size: 2.5rem;
}

/* hier beginnt die grausamkeit */
.title-buttons {
  display: flex;
  padding-top: 24px;
  gap: 40px;
}

.marquee-button {
  --padding-x: 40px;
  position: relative;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  padding: 24px var(--padding-x);
  border-radius: 100px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text-placeholder {
  visibility: hidden;
  display: inline-block;
}

.marquee-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: var(--padding-x);
  will-change: transform;
  gap: var(--marquee-gap, 0px);
  transition: all 0.3s ease;
}

.marquee-content span {
  flex-shrink: 0;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Wird per JS als CSS-Variable gesetzt */
    transform: translateX(var(--marquee-translate));
  }
}

.marquee-button:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.marquee-button:hover .marquee-content {
  animation: marquee-scroll var(--marquee-duration, 3s) linear infinite;
}
