section.hero {
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    var(--color-bg) 40%,
    var(--color-bg-second) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 98px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(28, 28, 28, 1) 25%,
    rgba(28, 28, 28, 0.06) 100%
  );
}

.header-content {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding: 0 96px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 72px;
  height: 42px;
}

nav {
  display: flex;
  gap: 24px;
}

nav img {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--color-light);
  font-family: "firacode";
  font-size: 1.25rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1;
  justify-content: center;
}

.title h1 {
  font-family: "karla";
  font-size: 8rem;
}

.title h2 {
  font-family: "firacode";
  font-size: 2.5rem;
}

.left-lateral {
  position: absolute;
  left: 96px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 312px;
  gap: 24px;
  z-index: 0;
}

.left-lateral img {
  width: 30px;
}

.vertical-line {
  height: 100%;
  width: 1px;
  border: 1px solid var(--color-accent);
}