:root {
  --color-bg: #1c1c1c;
  --color-bg-second: #08463b;
  --color-accent: #3dcfb6;
  --color-scroll: #ffffff12;
  --color-light: #ffffff;
  --font-heading: "Firacuda";
  --font-text: "karla";
  --font-color: #D9D9D9; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
/*   outline: 1px solid red; */
}

html {
  font-size: 16px;
  color: var(--font-color);
  font-family: var(--font-text);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg);
}

section.hero {
  min-height: 100vh;
  background: linear-gradient(45deg, var(--color-bg) 40%, var(--color-bg-second) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 98px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding: 0 96px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 64px;
}

nav {
  display: flex;
  gap: 24px;
}

nav img {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--color-light);
  font-family: 'firacode';
  font-size: 1.25rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.title h1 {
  font-family: 'karla';
  font-size: 8rem;
}

.title h2 {
  font-family: 'firacode';
  font-size: 2.5rem;
}

.title-buttons {
  display: flex;
  gap: 40px;
}

.title-buttons div {
  cursor: pointer;
  font-size: 1.125rem;
  border: 1px solid var(--color-light);
  border-radius: 100px;
  padding: 24px;
}

.title-buttons div:hover {
  border-color: var(--color-accent);
  color: var(--color-accent)
}



