* {
  margin: 0;
  scroll-behavior: smooth;
}

.cursor-follower {
  position: fixed;
  width: 300px;
  height: 300px;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: lighten;
  opacity: 0.8;
  border-radius: 50%;
  filter: blur(40px);
  background: linear-gradient(45deg, rgba(61, 207, 182, 0.2) 50%, rgba(61, 207, 182, 0.1) 100%);
}

body {
  background: #000;
  overflow: hidden;
  
}

section.hero {
  position: relative;
}

.scroll-wrapper {
  position: absolute;
  background-color: #ffffff25;
  left: -10px;
  right: -10px;;
  transform: skewY(-3deg);
  top: 60vh;
  height: 100px;
}

.scroll-container {
  background-color: #ffffff25;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  width: 1000px;
}

.scroll-text {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 15px;
  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}