:root {
    --main-color: #5988FF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    flex-direction: column;
    display: flex;
    align-items: center;
}

section {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    position: relative;
}

header {
    position: absolute;
    top: 0;  
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 24px 77px;
}

h2 {
    color: var(--main-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 80px;
    width: 610px;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 36px;
}

.links a {
    text-decoration: none;
    font-size: 23px;
    color: var(--main-color);
    font-family: montserrat;
}

.links a:hover {
    font-weight: bold;
    text-shadow: 0px 0px 5px --main-color;
}

#lang-switch span {
    cursor: pointer;
}

#lang-switch span.active {
    text-decoration: underline;
}

.hero-picture {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
}

.circle {
    position: absolute;
    height: 80vh;
}