* {
  margin: 0;
  scroll-behavior: smooth;
}

.cursor-follower {
  position: fixed;
  width: 300px;
  height: 300px;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: lighten;
  opacity: 0.8;
  border-radius: 50%;
  filter: blur(40px);
  background: linear-gradient(45deg, rgba(61, 207, 182, 1) 0%, rgba(61, 207, 182, 0.3) 100%);
}

body {
  background: #000;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.scroll-container {
  background-color: #ffffff50;
  position: fixed;
  top: 90%;
  left: -10px;
  width: 110vw;
  transform: translateY(-50%) rotate(-5deg);
  transform-origin: center;
  white-space: nowrap;
}

.scroll-text {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  font-family: Arial, sans-serif;
  /* Breite x2 damit nahtloser Loop */
  animation: scrollLeft 25s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}
