* {
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: #1c1c1c;
  background: linear-gradient(
    45deg,
    rgba(28, 28, 28, 1) 40%,
    rgba(8, 70, 59, 1) 100%
  );
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: 000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 98px;
  display: flex;
  padding: 0 96px;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  gap: 24px;
}

nav.a {
    font-size: 20px;
    font-family: firacode;
}

section.hero_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #d9d9d9;
  font-family: karla;
  font-size: 128px;
}

h2 {
  color: #d9d9d9;
  font-family: firacode;
  font-size: 40px;
}
