:root {
  --color-bg: #1c1c1c;
  --color-bg-second: #08463b;
  --color-accent: #3dcfb6;
  --color-scroll: #ffffff12;
  --color-light: #ffffff;
  --font-heading: "Firacuda";
  --font-text: "karla";
  --font-color: #D9D9D9; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}

html {
  font-size: 16px;
  color: var(--font-color);
  font-family: var(--font-text);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg);
}


/* Mouse follow shadow */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(100px circle at var(--cursor-x) var(--cursor-y), var(--color-accent), transparent 50%);
  filter: blur(60px);
  pointer-events: none;
  z-index: 10;
}







