@import "tailwindcss";

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  --color-bg: #1c1c1c;
  --color-bg-second: #08463b;
  --color-accent: #3dcfb6;
  --color-light: #ffffff;
  --font-color: #D9D9D9;
  --color-scroll: #ffffff12;
  --font-second: "Firacode";
  --font-second-bold: "Firacode-bold";
  --font-main: "karla";
  --font-main-bold: "karla-bold"
}