@font-face {
    font-family: firacode;
    src: url(./Fira_Code/static/FiraCode-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: karla;
    src: url(./Karla/static/Karla-Regular.ttf);
    font-display: swap;
}